@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container-blue {
  background-color: #F5F6F7;
}

.container-image {
  height: 506px;

  a {
    color: white !important;
    transition: 0.2s color ease-in-out;

    &:hover {
      color: #15C1FF !important;
    }
  }
}

.about-us-nav {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/about-us.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.our_fleet-nav {
  background: url("/images/about-us.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
}

.contact-nav {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/contact.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.container-dark-blue {
  background-color: #002f6d;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  max-width: 1300px;
  margin: auto;
  background-color: red;
}

.logo-header {
  width: 200px;
  object-fit: cover;
}

.nav-container {
  display: flex;
  gap: 28px;

  >a {
    text-decoration: none;
    color: #4b4b4c;
    transition: 0.2s color ease-in-out;
    font-size: 16px;

    &:hover {
      color: #15C1FF;
    }
  }
}

.slogan-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px 0;
  gap: 52px;
  height: 100vh;

  >h1 {
    text-align: center;
    max-width: 600px;
    font-size: 52px;
    font-weight: 500;
    color: #002f6d;
  }

  >.img-home {
    width: 48%;
    object-fit: cover;
  }

  >button {
    background-color: #15C1FF;
    transition: 0.2s background-color ease-in-out;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 40px;
    padding: 4px 12px;
    border: none;
    font-size: 24px;
    margin-bottom: 12px;

    &:hover {
      background-color: #002f6d;
    }
  }
}

.service-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 0;
  gap: 60px;

  >h2 {
    color: #4b4b4c;
    font-size: 36px;
  }
}

.child-sevice-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;

  gap: 104px;
}

.servicechild-conteiner {
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  color: #4b4b4c;

  >h3 {
    margin: 28px;
  }

  >p {
    max-width: 300px;
    font-weight: 500;
    margin-bottom: 28px;
  }

  >img {
    width: 100px;
    object-fit: cover;
  }

}

.container-blue-tow {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  gap: 40px;

  >h2 {
    color: #002f6d
  }
}

.child-review-conteiner {
  display: flex;
  align-items: center;
  max-width: 1300px;
  gap: 16px;

}

.reviewChild-conteiner {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.10);
  width: 300px;
  height: 260px;
  border-radius: 16px;
  background-color: #ffffff;
  padding: 32px 20px;
  margin-bottom: 28px;

  >h3 {
    color: #002f6d;
    font-size: 24px;
  }

  >h4 {
    color: #4b4b4c;
    font-weight: 400;
    font-size: 12px;
    margin-top: 12px;
  }

  >p {
    font-size: 14px;
    margin-top: 12px;
    color: #4b4b4c;
  }

}

.start {
  color: rgb(255, 179, 0);
  margin-top: 12px;
}

.react-rater-star {
  font-size: 24px;

  &.will-be-active {
    color: rgb(249, 218, 43) !important;
  }

  &.is-active {
    color: rgb(249, 218, 43) !important;
  }
}

.footer-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  padding: 100px 0;
  max-width: 1300px;
  margin: auto;
}

.information-rentacar-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;

  >img {
    width: 180px;
    object-fit: cover;
  }

  >p {
    max-width: 700px;
    font-size: 16px;
    font-weight: 100;
  }
}

.information-contact-footer {
  display: flex;
  flex-direction: column;
  gap: 16px;

  >h3 {
    font-size: 28px;
  }
}

.icrac {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
}

.social-networks-conteiner {
  display: flex;
  align-items: center;
  gap: 12px;

}

.About-us-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}

.About-us-child-conteiner {
  display: flex;
  gap: 5%;
  max-width: 1000px;
  margin-top: auto;
  background-color: #15C1FF;
}

.title-about-us-conteiner {
  >h1 {
    text-align: right;
    font-size: 2vw;
    color: #002f6d;
  }
}

.content-about-us-conteiner {
  width: 65%;
  margin: 40px 0;

  >p {
    font-size: 1vw;
    color: #002f6d;
  }
}

.contact-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  background-color: #15C1FF;
}

.contact-child-conteiner {
  display: flex;
  gap: 5%;
  max-width: 1000px;
  margin-top: auto;
}

.title-contact-conteine {
  >h1 {
    text-align: right;
    font-size: 2vw;
    color: #002f6d;
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;

  row-gap: 12px;
  column-gap: 32px;

  >div {
    display: grid;
    grid-template-columns: 64px 1fr;
    gap: 8px;

    &:nth-child(3),
    &:nth-child(4) {
      grid-column: span 2;
    }

    >label {
      font-size: 16px;
      /* width: 100px; */
      font-weight: 500;
      padding-top: 4px;
    }

    >input,
    >textarea {
      font-size: 16px;
      padding: 4px;
      width: 100%;
      border-radius: 4px;
      border: none;
    }

    >textarea {
      resize: none;
    }
  }
}

@media (max-width:800px) {
  .About-us-child-conteiner {
    flex-direction: column;
    gap: 0px;
  }

  .title-about-us-conteiner {
    width: 100%;
    align-items: center;

    >h1 {
      text-align: center;
      flex-grow: 1;
      font-size: 6vw
    }

  }

  .content-about-us-conteiner {
    width: 100%;
    padding: 20px;

    >p {
      text-align: center;
      flex-grow: 1;
      font-size: 3vw
    }
  }
}