@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {}


.container-blue {
  background-color: #F5F6F7;
}


.container-image {
  height: 506px;

  a {
    color: white !important;
    transition: 0.2s color ease-in-out;

    &:hover {
      color: #15C1FF !important;
    }
  }
}

.about-us-nav {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/about-us.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.contact-nav {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/contact.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.container-dark-blue {
  background-color: #002f6d;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  max-width: 1300px;
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.css-onkibi {
  display: none !important;
}

.logo-header {
  width: 300px;
  object-fit: cover;
  margin-left: 5%;
}

.nav-container {
  display: flex;
  gap: 28px;
  margin-right: 5%;

  >a {
    text-decoration: none;
    color: #4b4b4c;
    transition: 0.2s color ease-in-out;
    font-size: 16px;

    &:hover {
      color: #15C1FF;
    }
  }
}

.nav-container2 {
  display: flex;
  gap: 28px;
  margin-right: 5%;

  >a {
    text-decoration: none;
    color: #4b4b4c;
    transition: 0.2s color ease-in-out;
    font-size: 16px;

    &:hover {
      color: #15C1FF;
    }
  }
}

.slogan-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px 0;
  gap: 52px;
  /*height: 975px;*/
  height: auto;

  >h1 {
    text-align: center;
    max-width: 600px;
    font-size: 50px;
    font-weight: 500;
    color: #002f6d;
    padding: 0 25px;
  }

  >.img-home {
    width: 48%;
    object-fit: cover;
  }
}

.service-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px;
  gap: 60px;

  >h2 {
    color: #4b4b4c;
    font-size: 36px;
  }
}

.child-sevice-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  gap: 104px;
}

.servicechild-conteiner {
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  color: #4b4b4c;

  >h3 {
    margin: 28px;
  }

  >p {
    max-width: 300px;
    font-weight: 500;
    margin-bottom: 28px;
  }

  >img {
    width: 100px;
    object-fit: cover;
  }

}

.container-blue-tow {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px;
  gap: 40px;

  >h2 {
    color: #002f6d
  }
}

.child-review-conteiner {
  display: flex;
  align-items: center;
  max-width: 1300px;
  gap: 16px;

}

.reviewChild-conteiner {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.10);
  width: 300px;
  height: 260px;
  border-radius: 16px;
  background-color: #ffffff;
  padding: 32px 20px;
  margin-bottom: 28px;

  >h3 {
    color: #002f6d;
    font-size: 24px;
  }

  >h4 {
    color: #4b4b4c;
    font-weight: 400;
    font-size: 12px;
    margin-top: 12px;
  }

  >p {
    font-size: 14px;
    margin-top: 12px;
    color: #4b4b4c;
  }

}

.start {
  color: rgb(255, 179, 0);
  margin-top: 12px;
}

.react-rater-star {
  font-size: 24px;

  &.will-be-active {
    color: rgb(249, 218, 43) !important;
  }

  &.is-active {
    color: rgb(249, 218, 43) !important;
  }
}

/*.ourfleet-container {
  display: flex;
  justify-content: space-between;
  background-color: #4b4b4c;
  height: 975px;
  margin: auto;
}*/

/*.ourfleet-nav-container {
  display: flex;
  gap: 28px;

  >a {
    text-decoration: none;
    color: #4b4b4c;
    transition: 0.2s color ease-in-out;
    font-size: 16px;

    &:hover {
      color: #15C1FF;
    }
  }
}

.ourfleet-nav-container {
  display: flex;
  gap: 28px;

  >a {
    text-decoration: none;
    color: #4b4b4c;
    transition: 0.2s color ease-in-out;
    font-size: 16px;

    &:hover {
      color: #15C1FF;
    }
  }
}

.ourfleet-filter-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  background-color: #fff;
  max-width: 1300px;
  padding: 50px 70px;
  gap: 50px;

  .logo-link {
    display: block;
  }

  .logo-image {
    width: 100%;
    height: auto;
    display: block;
    
  }
}
.filter-container {
  display: flex;
  gap: 10px;
  align-items: center;

  .filter-image {
    width: 20px;
  }
}*/

.ourfleet-container {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 100px auto;
  background-color: #4b4b4c;
  height: 975px;
  margin: auto;
}

.logo-link {
  display: flex;
  grid-row: 1;
  grid-column: 1;
  align-items: center;
  width: 100%;
  background-color: #fff;

}

.logo-image {
  width: 100%;
  height: auto;
  padding: 30px 20px 5px 20px;
}

.ourfleet-nav-container {
  display: flex;
  grid-row: 1;
  grid-column: 2;

}

.ourfleet-filter-container {
  display: flex;
  grid-row: 2;
  grid-column: 1;
  flex-direction: column;
  width: 100%;
  height: 874px;
  background-color: #fff;
  max-width: 1300px;
  padding: 30px 30px;
  gap: 50px;

  .logo-link {
    display: block;
  }

  .logo-image {
    width: 100%;
    height: auto;
    display: block;

  }
}

.ourfleet-car-container {
  display: grid;
  grid-row: 2;
  grid-column: 2;
  gap: 1rem;
  padding: 30px 16px;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));
  width: 100%;
  height: 874px;
  background-color: #F5F6F7;
  overflow-y: auto;

}

.ourfleet-car-container-modal {
  display: grid;
  grid-row: 2;
  grid-column: 2;
  gap: 1rem;
  padding: 30px 16px;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 10rem), 1fr));
  width: 500px;
  height: 350px;
  background-color: #F5F6F7;
  overflow-y: auto;

  @media (max-width:425px) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

}

.filter-container {
  display: flex;
  align-items: center;

  >h3 {
    font-size: 24px
  }

  .filter-image {
    width: 20px;
  }
}

.ourfleet-filter-car-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.radiobuttons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding-bottom: 20px;

  >h3 {
    font-size: 15px;
    margin-bottom: 10px;
  }

  >label {
    margin-right: 10px;
  }
}

/*.ourfleet-navbar-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 50px;
  background-color: #F5F6F7;
}*/
.ourfleet-navbar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 50px;
  background-color: #F5F6F7;
}



.our-fleetchild-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 10px;
  border: 1px solid #ffffff;
  border-radius: 16px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.10);

  .price-rent-btn-container {
    display: flex;
    justify-content: space-between;
  }

  &.selected {
    border-color: #007bff;
  }
}

.brand-container {
  font-size: 100%;
  color: #002f6d;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.alok {
  display: flex;
  align-items: center;
  gap: 12PX;
}

.passengers-container {
  display: flex;
  align-items: center;
  color: #4b4b4c;
  font-size: 12px;

  >img {
    height: auto;
    width: 17px;
    border-radius: 3px;
    margin-right: 5px;

  }
}

.car-image-container {
  margin: 20px 0 10px;
  width: 100%;
  padding: 0 10px;
  aspect-ratio: 16/9;
  object-fit: contain;
}

.mileage-container {
  color: #4b4b4c;
}

.price-container {
  font-size: 150%;
  font-weight: 1000;
  color: #002f6d;
}

.price-container+button {
  font-weight: 500;

  &:hover {
    background-color: #002f6d;
  }
}


button {
  background-color: #15C1FF;
  color: white;
  border-radius: 8px;
  padding: 8px;
  border: none;
}

.footer-conteiner {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  padding: 50px 100px;
  max-width: 1300px;
  gap: 40px;
  margin: auto;
}

.information-rentacar-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;

  >img {
    width: 180px;
    object-fit: cover;
  }

  >p {
    max-width: 700px;
    font-size: 16px;
    font-weight: 100;
  }
}

.information-contact-footer {
  display: flex;
  flex-direction: column;
  gap: 16px;

  >h3 {
    font-size: 28px;
  }
}

.icrac {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
}

.social-networks-conteiner {
  display: flex;
  align-items: center;
  gap: 12px;

}

.About-us-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.About-us-child-conteiner {
  display: flex;
  gap: 5%;
  max-width: 1000px;
  margin-top: auto;
}

.title-about-us-conteiner {
  >h1 {
    text-align: right;
    font-size: 2vw;
    color: #002f6d;
  }
}

.content-about-us-conteiner {
  width: 65%;

  >p {
    font-size: 1vw;
    color: #002f6d;
  }
}

.contact-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;

}

.contact-child-conteiner {
  display: flex;
  gap: 5%;
  max-width: 1000px;
  margin-top: auto;
}

.title-contact-conteine {
  >h1 {
    text-align: right;
    font-size: 2vw;
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;

  row-gap: 12px;
  column-gap: 32px;

  >div {
    display: grid;
    grid-template-columns: 64px 1fr;
    gap: 8px;

    &:nth-child(3),
    &:nth-child(4) {
      grid-column: span 2;
    }

    >label {
      font-size: 16px;
      width: 100px;
      font-weight: 500;
      padding-top: 4px;
      color: #4b4b4c;
    }

    >input,
    >textarea {
      font-size: 16px;
      padding: 4px;
      width: 100%;
      border-radius: 12px;
    }

    >textarea {
      resize: none;
    }
  }
}

.select-container {
  display: none;
  gap: 20px;
  flex-direction: row;
  overflow-x: auto;
  width: 1000px;
}

.carTypes,
.transmission {
  background-color: #15C1FF;
  border-radius: 8px;
  width: 100px;
}

@media(max-width:1440) {
  .ourfleet-navbar-container {
    max-width: 1300px;
  }
}

@media (max-width:1024px) {
  .slogan-conteiner {
    >.img-home {
      width: 58%;
    }
  }

  .information-contact-footer {
    text-align: center;
  }

  .information-rentacar-footer {
    align-items: center;
    text-align: center;
  }
}

@media (max-width:768px) {

  .select-container {
    display: flex;
  }

  .filters-desktop {
    display: none;
  }

  .hamburgericon-container {
    margin-right: 5%;
  }

  .css-onkibi {
    color: #15C1FF !important;
    font-size: 36px;

    display: inline !important;
  }

  .nav-container {
    flex-direction: column;
    align-items: center !important;
    position: fixed;
    right: 0;
    top: 57px;
    width: 100%;
    padding: 20px 0;
    left: 100%;
    transition: left 0.3s;
    overflow-y: auto;

    background-color: #15c1fff5;

    >a {
      font-size: 14px;
      color: #4b4b4c !important;

      &:hover {
        color: #ffffff !important;
      }
    }
  }

  .nav-container2 {
    flex-direction: column;
    align-items: center !important;
    position: fixed;
    right: 0;
    top: 220px;
    width: 100%;
    padding: 20px 0;
    left: 100%;
    transition: left 0.3s;
    overflow-y: auto;

    background-color: #15c1fff5;

    >a {
      font-size: 14px;
      color: #4b4b4c !important;

      &:hover {
        color: #ffffff !important;
      }
    }
  }

  logo-header {
    width: 150px;
  }

  .nav-container_visible {
    left: 0;
  }

  .nav-container_visible2 {
    left: 0;
    top: 220px;
  }

  .slogan-conteiner {
    >.img-home {
      width: 68%;
    }

    >button {
      font-size: 22px;
    }
  }

  .child-sevice-conteiner {
    flex-direction: column;
    gap: 0;
  }

  .About-us-child-conteiner {
    flex-direction: column;
  }

  .title-about-us-conteiner {
    width: 100%;
    align-items: center;

    >h1 {
      text-align: center;
      font-size: 8vw
    }

  }

  .content-about-us-conteiner {
    >p {
      font-size: 12px !important;
      padding: 12px;
    }
  }

  .content-about-us-conteiner {
    width: 100%;
    margin-top: auto;

    >p {
      text-align: center;
      font-size: 2vw;
    }
  }

  .contact-child-conteiner {
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }

  .form {
    display: block;

    >div {
      margin-bottom: 16px;
    }
  }

  .footer-conteiner {
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background-color: black;
    padding: auto;
  }

  .information-rentacar-footer {

    >p {
      text-align: center;
      font-size: 12px;
      padding: 12px;
    }
  }

  .information-contact-footer {

    >h3 {
      font-size: 24px;
    }

    >.icrac {
      align-items: center;
      font-size: 12px;
    }
  }

  .social-networks-conteiner {
    >img {
      width: 20px;
      height: auto;
    }
  }

  .ourfleet-container {
    display: flex;
    flex-direction: column;

  }

  .ourfleet-container {
    flex-direction: column;
    height: auto;
  }

  .ourfleet-filter-container,
  .ourfleet-navbar-container {
    width: 100%;
  }

  .ourfleet-filter-container {
    padding: 10px 30px;
    height: 100px;
  }
}

@media (max-width:425px) {
  .logo-header {
    width: 190px;
  }

  .css-onkibi {
    font-size: 34px;
  }

  .slogan-conteiner {
    >h1 {
      font-size: 32px;
    }

    >.img-home {
      width: 78%;
    }

    >button {
      font-size: 18px;
    }
  }

  .service-conteiner {
    gap: 40px;

    >h2 {
      font-size: 22px;
    }
  }

  .servicechild-conteiner {
    >img {
      width: 70px;
    }
  }

  .container-blue-tow {
    >h2 {
      color: #002f6d;
      text-align: center;
    }
  }

  .About-us-conteiner {
    padding: 10px;
  }
}

@media (max-width:375px) {

  .logo-header {
    width: 170px;
  }

  .css-onkibi {
    font-size: 32px;
  }

  .slogan-conteiner {
    >h1 {
      max-width: 600px;
      font-size: 30px;
    }

    >.img-home {
      width: 88%;
    }

    >button {
      font-size: 16px;
    }
  }
}

@media (max-width:320px) {
  .logo-header {
    width: 150px;
  }

  .css-onkibi {
    font-size: 30px;
  }

  .slogan-conteiner {
    >h1 {
      font-size: 25px;
    }

    >button {
      font-size: 12px;
    }
  }

  .form {

    input,
    textarea {
      width: 0;
    }
  }
}

/*modal style*/
.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-button {
  background-color: #15C1FF;
  transition: 0.2s background-color ease-in-out;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 40px;
  padding: 4px 12px;
  border: none;
  font-size: 24px;
  margin-bottom: 12px;

  &:hover {
    background-color: #002f6d;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 580px;

  >h2 {
    color: #4b4b4c;
  }

  @media (max-width:425px) {
    gap: 0px
  }
}

.pickup-information-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;

  >h5 {
    font-size: 18px;
    color: #4b4b4c;
  }
}

.modal-content-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  gap: 10px;
}

.modal-content-button-close {
  background-color: rgb(255, 225, 0);

  &:hover {
    background-color: #e60000;
  }
}

.modal-content-button-next {
  &:hover {
    background-color: #002f6d;
  }
}

.modal-content-button-close,
.modal-content-button-next {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  height: 30px;
  width: 30px;
}


#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*----------*/
.my-input {
  border: none;
  outline: none;
  padding: 8px;
  width: 200px;
  font-size: 16px;
}

.my-input[type='text'] {
  border-bottom: 1px solid #ccc;
  transition: border-bottom 0.3s ease;
}

.my-input[type='text']:focus {
  border-bottom: 2px solid #007bff;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  width: 200px;
  box-sizing: border-box !important;
}

.date-time {
  display: grid;
  align-items: center;
  gap: 20px;

  >* {
    width: 100%;

    >div {
      width: 100%;
    }
  }

  @media screen and (min-width: 520px) {
    grid-template-columns: repeat(2, 1fr);
  }
}